{% extends 'admin/base.html' %}
{% load static %}

{% block branding %}
  <h1 id="head">
  <a href="/admin" class="company-name">Car Motive</a>
  </h1>
  <style>
        .company-name {
            font-family: 'Roboto', sans-serif; /* Custom font */
            font-size: 36px;
            font-weight: bold;
            color: #000;
            text-transform: uppercase;
            text-decoration: none; /* Removes underline */
        }
    </style>
{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}